<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/item.css" />
    </head>
    <body>
        <div id="biggets-boy">
            <div id="big-boy">
                <div id="top-boy">
                    <button>Go to homepage</button>
                    Item
                </div>
                <div id="cool-boy">
                    <div id="imgen"></div>
                    <div id="pris">20k</div>
                    <div id="desc">Den e fin</div>
                </div>
                <div id="buy"><text>add to cart</text></div>
            </div>
        </div>
    </body>
</html>
